Proposal: Increase SSL Security in deis-router

Hello,

While I havn't used `deis-router`s SSL support, I guess `deis-router` uses nginx defaults for SSL? Any ideas what that scores on [Quays SSL Test](https://www.ssllabs.com/ssltest/)?

I stumbled upon this article a way back: [https://raymii.org/s/tutorials/Strong_SSL_Security_On_nginx.html](https://raymii.org/s/tutorials/Strong_SSL_Security_On_nginx.html). Might be worth looking at to increase `deis-router`s SSL configuration.

- Blystad

@Blystad  the problem is that adjusting the defaults you could leave some browsers without access to the ssl content served by nginx. For instance if you follow https://wiki.mozilla.org/Security/Server_Side_TLS using "Modern compatibility" (gives you A+ in ssllabs) to configure nginx you cannot access any content using IE6,7 and 8 (and that it's fine for me, but maybe not for other deis users).



I would still recommend having secure defaults and then add a `dinosaurCompat` option.

In any case, I guess what I want is the ability to configure this using etcd keys and with modern configuration being the default. 

> In any case, I guess what I want is the ability to configure this using etcd keys and with modern configuration being the default.

Agreed. I think the current behavior shouldn't change to support backwards-compatibility and upgrades, but adding the ability to harden SSL is a great addition. So "dinosaur default", "spaceship optional". 

I have SSL deployed. Running Qualys...

Yikes, Nginx still has SSLv3 enabled by default. IE6 [should not be a concern](https://support.microsoft.com/kb/3009008) because there is [a fix](http://go.microsoft.com/?linkid=9863266). SSLv3 is dead. Long live TLS!

Next up:
- [ ] [RFC 5489](https://tools.ietf.org/html/rfc5489) 2048 bit ecdhe ciphers
- [ ] [RFC 6797](http://tools.ietf.org/html/rfc6797) strict transport security
- [ ] [RFC 6960](https://tools.ietf.org/html/rfc6960) ocsp stapling
- [ ] tune memory consumption of shared [ssl_session_cache](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_session_cache)

@Blystad re: qualys now scores an A-

Let's close this in favour of more tightly-scoped issues which we can reasonably address. Glad to see that the router's more secure though.

@wenzowski please feel free to open new issues as you see fit :)